/* Reset By Default Properties */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

body {
  font-size: clamp(13px, 1.2vw, 16px);
  height: 100vh;
  width: min(1399px, 100%);
  word-wrap: break-word;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}
/* Navigation CSS */
header {
    position: relative;
    height: 3rem;
}

nav.navbar {
  position: fixed;
  width: min(1399px, 100%);
  top: 0;
  left: 0;
  padding: 10px 1rem;
}
div.grid-container-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  }

a.nav-link {
  display: block;
  text-decoration: none;
  padding: 24px 32px;
  font-size: 22px;
  color: #000;
}

a.nav-link:hover {
  background-color: #ccc;
}

main {
margin-top: 2.5rem;
}